@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-basic: #eeeeee;
  --color-basic-darker-100: #cfd3d6;
  --color-basic-darker-200: #a4a3a4;
  --color-secondary: #ffffff;
  --color-secondary-dark: #1b191c;
  --color-accent: #f8d231;
  --color-accent-lighter: #ffe157c7;
  --color-accent-darker: #c6a827;
}

body {
  background: var(--color-basic);
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--color-secondary-dark);
}
